body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  background-color: transparent;
  padding: 6px 52px;
  cursor: pointer;
  border: none;
  outline: 4px solid black;
}
